<!DOCTYPE html>
<html meta="en">
<head>
    <meta charset="UTF-8">
    <title>学生登录</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    <link href="/css/login.css" rel="stylesheet" type="text/css">
</head>
<body id="bg" background="/images/bg.jpg">
<article>
    <header>
        <hgroup>
            <h1>校园交易平台</h1>
        </hgroup>

    </header>
        <div id="login">
            <div id="form">
            <form action="" method="post" id="myform"  autocomplete="off">
                <fieldset>
                     <legend id="frame" align="center">登录</legend>
                     <label>账号:</label>
                    <input type="text" name="account"/><br/>
                    <label>密码:</label>
                    <input type="password" name="password"/><br/>
                    <input type="button" class="bu" value="注册" onclick="javascript:window.location.href='/register'"/>
                    <input type="submit" class="bu" value="登录" onclick=""/>
                </fieldset>
            </form>
            </div>
        </div>
</article>
</body>
</html>