<!DOCTYPE html>
<html meta="en">
<head>
    <meta charset="UTF-8">
    <title>学生注册</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
</head>
<body id="bg" background="/images/bg.jpg">
<article>
    <header>
        <hgroup>
            <h1>校园交易平台</h1>
        </hgroup>

    </header>
    <div id="login">
        <div id="form">
            <form action="/register" method="post" id="myform" autocomplete="off">
                <fieldset>
                    <legend id="frame" align="center">注册</legend>
                    <label>电话:</label>
                    <input type="text" name="tel"/><br/>
                    <label>姓名:</label>
                    <input type="text" name="studentName"/><br/>
                    <label>账号:</label>
                    <input type="text" name="account"/><br/>
                    <label>密码:</label>
                    <input type="password" name="password"/><br/>
                    <input type="button" class="bu" value="返回" onclick="javascript:window.location.href='/login'"/>
                    <input type="submit" class="bu" value="注册" />
                </fieldset>
            </form>
        </div>
    </div>
</article>
</body>
</html>