@charset "UTF-8";
input{
    margin-left: 100px;
    border-radius: 1em;
    border-color: beige;
    width:300px;
    height:45px;
    font-size: 30px;
    margin-top:5px;
	outline:none;
}
fieldset{
 
    border-color:red;
    width:650px;
    height:300px;
}
.bu{
	margin-top:50px;
    width:100px;
    height:50px;
   	margin-left:280px;
    background-color: #ae0000;
    color: ghostwhite;
    font-size:30px;
}
.bu:hover{
    color:ghostwhite;
    background-color: #800000;

}
hgroup {
    margin-top:10%;
    text-align:center;
    color: brown;
}
#login{
    width:400px;
    height:280px;
    position:absolute;
    left: 50%;
    top: 40%;
    margin-left:-200px;
    margin-top:-140px;
    border:1px;
    align:center;


}
#form{
    width:300px;
    height:180px;
    position:relative;
    left:50%;
    top:50%;
    margin-left:-350px;
    margin-top:-80px;

}
#frame{
    font-size: 30px;
    color: brown;
}

label{
    font-size:30px;
    margin-left:50px;
}
a{
	position:relative;
	left:315px;
}
#web_bg{
  position:fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  min-width: 1000px;
  z-index:-10;
  zoom: 1;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}
