<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>作息时间表</title>
    <link href="/css/myteam.css" rel="stylesheet">

    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    <style type="text/css">
        .timeofclass1 {
            font-size: 30px;
            text-align: center;
            color: white;
            background-color: #871e1e;
            height: 60px;
            padding-top: 15px;
        }

        .timeofclass2 {
            font-size: 20px;
            text-align: center;

        }
    </style>
</head>
<body>
<div id="top">
    <ul class="list">
        <li id="user">
            <a href="/index?account={{account}}">用户</a>
            <ul>
                <li><a href="/password?account={{account}}">修改密码</a></li>
                <li><a href="/record?account={{account}}">购买记录</a></li>
                <li><a href="/like?account={{ account }}">收藏夹</a></li>
                <li><a href="/login">退出</a></li>
            </ul>
        </li>
        <li id="user2">
            <a href="/index?account={{ account }}">校园助手</a>
            <ul>
                <li><a href="/bus?account={{account}}">校车查询</a></li>
                <li><a href="/course?account={{account}}">作息时间表</a></li>
                <li><a href="/room1?account={{ account }}">上课安排</a></li>
                <li><a href="/calendar?account={{ account }}">校历</a></li>
            </ul>
        </li>
        <li><a class="option" href="/upload?account={{ account }}">上传</a></li>
        <li><a class="option" href="/manage?account={{ account }}">商品管理</a></li>
    </ul>
    <br>
</div>
<p class="timeofclass1">山东大学作息时间表</p>
<p class="timeofclass2">（2020年10月5日起实行）</p><br>
<p class="timeofclass2">第一节课 ------- 8:00-8:50</p><br>
<p class="timeofclass2">第二节课 ------- 9:00-9:50</p><br>
<p class="timeofclass2">第三节课 ------- 10:10-11:00</p><br>
<p class="timeofclass2">第四节课 ------- 11:10-12:00</p><br>
<p class="timeofclass2">第五节课 ------- 14:00-14:50</p><br>
<p class="timeofclass2">第六节课 ------- 15:00-15:50</p><br>
<p class="timeofclass2">第六节课 ------- 15:00-15:50</p><br>
<p class="timeofclass2">第七节课 ------- 16:10-17:00</p><br>
<p class="timeofclass2">第八节课 ------- 17:10-18:00</p><br>
<p class="timeofclass2">第九节课 ------- 19:00-19:50</p><br>
<p class="timeofclass2">第十节课 ------- 20:00-20:50</p><br>
<p class="timeofclass2">第十一节课 ------- 21:00-21:50</p><br>

</body>
</html>